@{
    ViewBag.Title = "Contact";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
</hgroup>
<div>
    <address>
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        159.333.1962
    </address>

    <address>
        <i class="icon-envelope"></i><strong>Support:</strong>   <a href="mailto:Support@PrimeHotels.com">Support@PrimeHotels.com</a><br />
        <i class="icon-envelope"></i><strong>Marketing:</strong> <a href="mailto:Marketing@PrimeHotels.com">Marketing@PrimeHotels.com</a>
    </address>
</div>