@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #a0e0e0">
    <h1>Prime Hotels</h1>
    <p class="lead">Prime Hotels is a fast growing chain providing places to stay across the US.  Whether you're staying only one night or for many more, Prime Hotels will maintain a high level of comfort for its guests.</p>
    <p><a href="http://www.asp.net/identity" style="background-color: #519090; color: white" class="btn btn-large">Get started &raquo;</a></p>
</div>

<img src="~/Content/images/hotelinterior2.jpg" style="max-width: 40%" />
<img src="~/Content/images/hotelinterior.jpg" style="max-width: 59.5%; padding-left: 19.5%" />
@*<div class="row">
        <div class="col-md-4">
            <dl>
                <dt>Add profile data for the user</dt>
                <dd>
                    <a href="http://blogs.msdn.com/b/webdev/archive/2013/10/16/customizing-profile-information-in-asp-net-identity-in-vs-2013-templates.aspx">Please follow this tutorial.</a>

                    <ul>
                        <li>Add profile information in the Users Table</li>
                        <li>Look in Models\IdentityModels.cs for examples</li>
                    </ul>
                </dd>
            </dl>
        </div>
    </div>*@